<form  class="row g-3">
    <div  *ngIf="supermarket">
      
      <h3 class="mb-3 text-center">Update Supermarket</h3>
      <div class="mb-3 row">
        <input type="text" [(ngModel)]="supermarket.name" name="name" class="form-control" placeholder="Name">
      </div>
      <div class="mb-3 row">
        <input type="text" [(ngModel)]="supermarket.location" name="location" class="form-control" placeholder="Location">
      </div>

      <div class="mb-3 row">
        <button class="btn btn-primary btn-lg" (click)="updateSupermarket()">Update Supermarket</button>
      </div>
      
    </div>
</form>