<div class="container custom-container">
    <div class="col-md-12" *ngIf="supermarket">
      
      <h3 class="mb-3 text-center">Update Supermarket</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="supermarket.name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="supermarket.location" class="form-control" placeholder="Location">
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateSupermarket()">Update Supermarket</button>
      </div>
      
    </div>
  </div>