<div class="container">
    <form novalidate
          [formGroup]="supermarketForm"
          (ngSubmit)="onSubmit()">
    
        <div class="form-group">
        <label>Name</label>
        <input type="text"
                class="form-control"
                formControlName="name">
        </div>

      <div class="form-group">
        <label>Location</label>
        <input type="text"
               class="form-control"
               formControlName="location">
      </div>
    
      <pre>{{supermarketForm.value | json}}</pre>
    
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
    </div>