<div class="container mb-3 mt-3">
    <button class="btn btn-primary btn-grid">Grid View</button>
    <button class="btn btn-danger btn-list">List View</button>
</div>
  <div class="container grid-container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let supermarket of supermarkets">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ supermarket.name }}</h5>
            <p class="card-text">{{ supermarket.location }}</p>            
            <a  [routerLink]="['/view-supermarket', supermarket.id]" class="btn btn-primary">View</a>
            <a  [routerLink]="['/supermarket-update', supermarket.id]" class="btn btn-success">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>